// Specific CSS for your home-page
.home-card-container{
  padding: 0;
  margin: 9vh 5% 5vh 5%;
}

.banner h1{
  font-size: 80px;
  font-family: 'Shippori Antique B1';
  margin-bottom: 10px;
  text-align: center;
}

.home-container{
  margin: 0;
}

.subtitle{
  color: rgb(209, 209, 209);
  font-family: Shippori Antique B1;
  font-weight: 200;
  font-size: 12px;
}

.home-card{
  margin: 5vh 0 0 0;
  padding: 4%;
  width: 49%;
  height: 90vh;
  background-size: cover;
  border-radius: 12px;
  color: white;
  font-weight: bolder;
}

.home-card-header{
  line-height: 50px;
  font-size: 40px;
  font-weight: normal;
  width: 70%;
  font-family: Shippori Antique B1;
}

.home-card-button{
  margin-top: 15px;
  padding: 8px 24px;
  background-color: rgb(255, 255, 255);
  border-radius: 24px;
}


@media(max-width: 900px) {
  .home-card{
    width: 100%;
  }
}
@media(max-width: 750px) {
  .home-card{
    height: 80vh;
  }
}
@media(max-width: 500px) {
  .home-card{
    width: 100%;
    height: 70vh;
  }
}
