.welcome-name {
  // background-color: whitesmoke;
  height: 12vh;
  text-align: center;
  margin-top: 4%;
}

.profile-index-container{
  height: 40vh;
  display: flex;
  border-radius: 8px;
}

.name-avatar-container {
  // background-color: black;
  width: 124vh;
  display: flex;
  padding: 2vh;
}

.profile-info-card{
  padding: 2vh;
}


#page-greener {
  width: 60vh;
  padding: 20px;
}


#page-reder {
  width: 120vh;
  margin-top: 16px;
  margin-left: 4vh;
  padding: 20px;
  border-radius: 8px;
  height: 31vh;
}

#page-reder:hover {
  opacity: 1;
}

#table-yellower {
  display: contents;
}

#table-pinker {
  // background-color: hotpink;
  display: table-row;
}
.image-browner {
  background-color: brown;
  height: 28vh;
  width: 58vh;
  margin: 20px;
}
// .left {
//   // background-color: indigo;
//   height: 67vh;
//   width: 124vh;
// }
.right {
  background-color: violet;
  height: 60vh;
  width: 80vh;
  padding: 8px;
  margin: 2vh;
}
.l-blue {
  height: 6vh;
  width: 12vh;
  // background-color: lightblue;
  transform: rotate(-40deg);
  margin-top: 2vh;
}


// svg for the welcome name
svg {
  font-weight:bold;
  max-width:370px;
  height:auto;
}
