.container {
  width: 100%;
  height: auto;
  text-align: center;
  margin-bottom: 40px;
}

.space-button{
  margin: 50px;
  text-decoration: none;

}

.reservation-button {
  background-color: blue;
  text-decoration: none;
  padding: 8px 10px;
  border-radius: 8px;
  color: blanchedalmond ;
}
#card {
  padding: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.description {
  font-size: 16px;
}
