// MAIN CONTAINER
.container {
  width: auto;
  height: 100%;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 60px;
  position: relative;
  padding: 4px;
}

// CARD container
#card {
  max-width: fit-content;
  display: inline-block;
  height: auto;
}

.show-card-body{
  text-align: left;
  padding: 20px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}


.show-image{
  width: 100%;
}

// RESERVATION container
#reservation-box {
  background-color: white;
  size: 100%;
  position: relative;
  padding: 20px;
}
// MAP container
#map-container {
  background-color: blue;
}

.first-show-card{
  padding: 0;
}
// reserve button
.reservation-button {
  text-decoration: none;
  padding: 8px 10px;
  border-radius: 8px;
  color: blanchedalmond;
  margin: 8px;
}
// back button
.back-button {
  text-decoration: none;
  padding: 8px 20px;
  border-radius: 8px;
  color: blanchedalmond;
  margin: 8px;
  border: none;
}
.back-button:hover {
  background-color: rgb(53, 53, 252);
}
// description text
.description {
  min-height: 20vh;
  height: auto;
  contain: size;
  font-family: 'M PLUS Code Latin', sans-serif;
  contain: size;
  padding: 20px;
}
#card h2 {
  font-weight: 600;
}

.date{
  margin-bottom: 16px;
}

.yatch-details {
  display: flex;
  justify-content: space-around;
  font-size: 16px;
}

.capacity {
  font-size: 16px;
}

.ammenities-body{
  text-align: center;
}

.ammenities-body li{
  font-size: 12px;
}
