.container {
  width: 100%;
  height: auto;
  text-align: center;
}

.space-button{
  margin: 50px;
  text-decoration: none;

}
.reservation-button {
  background-color: blue;
  text-decoration: none;
  padding: 8px 10px;
  border-radius: 8px;
  color: blanchedalmond ;
}
