.yacht-search-form{
  display: flex;
  width: 35%;
}


// search input
.search-form-field {
  &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #c9c7c7;
  }
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
// search button
.submit-search {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  color: aquamarine;
}

.tabs-underlined {
  display: flex;
  align-items: center;
}

.tabs-underlined .tab-underlined {
  color: black;
  padding: 8px;
  margin: 8px 16px;
  opacity: .4;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 4px solid transparent;
}

.tabs-underlined .tab-underlined.active {
  opacity: 1;
  border-bottom: 3px solid #555555;
}


@media(max-width: 600px) {
  .yacht-search-form{
    display: none;
  }
}
