// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "flatpickr/dist/flatpickr";


// Your CSS partials
@import "components/index";
@import "pages/index";
@import "yachts/index";

#container-special{
  position: relative;
  min-height: 110vh;
  margin-bottom: 0;
  height: fit-content;
  padding-bottom: 85px;
}

body{
  position:relative;
}
